
<div class="card bg-dark text-white">
  <img src="assets/contact.jpg" class="card-img" alt="..." style="height: 400px; object-fit: cover; ">
  <div class="card-img-overlay">
    <h5 class="card-title  fs-2 text-center " style="line-height: 400px;" >Connect with me </h5>
  </div>
</div>
<div class="row mt-5 px-4">
  <div class="col-md-4">
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent ">Email</div><span></span>
      <div class="card-body ">
        <p class="card-text">tsokotaportia@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent ">Phone number</div><span></span>
      <div class="card-body ">
        <p class="card-text">0747407075</p>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent ">Address</div><span></span>
    <div class="card-body ">
      <p class="card-text">Unit 26 Longview Complex,Halfway Gardens,Midrand</p>
    </div>
  </div>
</div>